%p#notice= notice
%p
  %b Username:
  = @user.Username
%p
  %b Password digest:
  = @user.password_digest
%p
  %b Firstname:
  = @user.Firstname
%p
  %b Lastname:
  = @user.Lastname
%p
  %b Email:
  = @user.Email
%p
  %b Photo:
  = @user.photo
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}
