<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.Username %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.Firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.Lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.Email %>
</p>

<p>
  <b>Photo:</b>
  <%= @user.photo %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
